<section class="flex flex-col justify-center items-center m-5 row-span-2" id="contact">
  <h1 class="text-white text-3xl font-semibold text-center p-4">Contact me</h1>
  <div class="flex flex-col justify-center w-1/2 gap-4 items-center">
    <p class="text-white text-center">If you're interested in my work, contact me at my email <span class="text-green-500">DotDager@Gmail.com</span> or simply click the button below</p>
    <button class="bg-green-500/85 p-4 text-lg text-white font-bold border-2 border-green-400 rounded-lg hover:bg-green-700 active:bg-green-500 w-72">CONTACT NOW</button>
  </div>
</section>
