---
import { ViewTransitions } from "astro:transitions";
import CatIcon from "../components/icons/CatIcon.astro";
import CatLoader from "../components/loaders/CatLoader.astro";
import Pepinos from "../components/effects/Pepinos.astro";
import Game from "../components/embeds/game.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Porfolio web by Doger" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" id="favicon" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="min-h-dvh grid-rows-[auto_1fr_auto]">
		<CatLoader />
		<Pepinos />
		<header
			class="sticky flex justify-center h-20 bg-black/70 backdrop-blur-md z-20 border-b border-b-1 border-neutral-600"
			id="navigation"
		>
			<div class="flex flex-auto justify-start ml-9 items-center gap-4">
				<div id="logo-conteiner">
					<CatIcon />
				</div>
				<h1 class="text-white text-3xl font-extralight">Dot Dager</h1>
			</div>
			<ul
				class="flex flex-1 flex-grow gap-8 text-white items-center justify-end mr-9"
			>
				<li class="hover:font-semibold transition-all ease-in-out delay-75">
					<a href="#about">About me</a>
				</li>
				<li class="hover:font-semibold transition-all ease-in-out delay-75">
					<a href="#contact">Contact</a>
				</li>
			</ul>
		</header>
		<main class="hidden grid-rows-3 gap-4" id="content">
			<Game />
			<slot />
		</main>
		<footer
			class="flex justify-center items-center h-20 bg-black/70 backdrop-blur-md z-20 border-t border-t-1 border-neutral-600"
			id="content"
		>
			<p class="text-white">Copyright by pepinos dot dager</p>
		</footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #111111;
	}
	.title-animate {
		animation: text-display 1.5s both;
	}
	@keyframes text-display {
		0% {
			opacity: 0;
			translate: -2rem 0px 0px;
		}
		50% {
			opacity: 0.5;
		}
		100% {
			opacity: 1;
			translate: 0px 0px 0px;
		}
	}

	.logo-animate {
		animation: logo-display 1s both;
	}
	@keyframes logo-display {
		0% {
			opacity: 0;
			translate: 2rem 0px 0px;
		}
		50% {
			opacity: 0.5;
		}
		100% {
			opacity: 1;
			translate: 0px 0px 0px;
		}
	}
</style>
<script>
	let navigation = document.getElementById("navigation");
	let loader = document.getElementById("loader-cat");
	let textLoader = document.getElementById("text-loader");
	let logoLoader = document.getElementById("catIcon-loader");
	let content = document.getElementById("content");
	// Header
	let logo = document.getElementById("logo-conteiner");
	let title = document.getElementById("title-conteiner");
	function adAnimations() {
		navigation?.classList.remove("hidden");
		content?.classList.remove("hidden");
		loader!.style.display = "none";
		content?.classList.add("grid");
		logo?.classList.add("logo-animate");
		title?.classList.add("title-animate");
	}
	document.addEventListener("astro:after-swap", () => {
		loader!.style.display = "block";
	});
	document.addEventListener(
		"astro:page-load",
		() => {
			setTimeout(() => {
				textLoader?.classList.add("text-animate");
				logoLoader?.classList.add("logo-animate");
			}, 400);
			setTimeout(() => {
				adAnimations();
			}, 500);
		},
		{ once: true },
	);
	function cambiarFavicon(favicon: string) {
		const link = document.getElementById("favicon");
		link!.href = favicon;
	}
	document.addEventListener("visibilitychange", () => {
		if (document.hidden) {
			// Cambia el favicon cuando el usuario no está en la página
			cambiarFavicon("./CatIconOff.svg"); // Aquí cambia el favicon cuando no estás en la página
		} else {
			// Restaura el favicon cuando el usuario regresa a la página
			cambiarFavicon("./favicon.svg"); // Aquí restaura el favicon original
		}
	});
</script>
